/* css editor */
#editor {
  height: fit-content;
}

.ql-editor {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  line-height: 1.5;
}

/* css input */
#name {
  width: auto;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  background-color: #F6FBFF;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}


#name::placeholder {
  color: #BDBDBD;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#name:disabled {
  border: none;
  color: #000000;
}

#title_description {
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F6FBFF;
  font-size: 16px;
  text-align: start;
}

#title_description::placeholder {
  color: #BDBDBD;
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}

#title_description:disabled {
  border: none;
  color: #000000;
}

#date_created {
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F6FBFF;
  font-size: 16px;
  text-align: start;
}

#date_created::placeholder {
  color: #BDBDBD;
  font-size: 16px;
  text-align: start;
}

#date_created:disabled {
  border: none;
  color: #000000;
}

.icon-edit {
  color: #000000;
  font-size: 20px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: rgb(143, 155, 214);
  padding: 5px;
  border-radius: 5px;
}

.icon-edit:hover {
  color: #FFFFFF;
  background-color: #000000;
}


/* css content publish */
.content-publish {
  text-align: start;
  margin-left: 30px;
}

.content-publish input {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
